#chatContainer{
    position: fixed;
    bottom: 50px;
    right: 25px;
}
#chatIconContainer{
    margin-top: 24px;
    margin-left: auto;
    width: 75px;
    height: 75px;
    background-color: #2962ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
#chatIconContainer object{
    width:40px;
    height: 40px;
    cursor: pointer;
}
.relative{
    position: relative;
}
#iframe{
    display: none;
    border-radius: 8px;
    width: 400px;
    height: 600px;
    border:0;
    box-shadow: 0 0 16px 0 #00000040;
}

@media only screen and (max-width: 450px){
    #chatContainer{
        bottom: 0;
        right: 0;
    }
    #iframe{
        width: 100vw;
        max-height: 100%;
    }
    #chatIconContainer object{
        width: 10px;
        height: 10px;
    }
    #chatIconContainer{
        width: 45px;
        height: 45px;
    }
}